table,th,td{
	border: 5px solid #FFF500;
}
body{
	margin-left: 202px;
	font-size: 20px;
	margin-left: 268px;
	justify-content: space-around;
	align-items:center;
	position: absolute;
	width: 70%;
	color: red;
}
input[type=text]{
	position: absolute;
	left: 600px;
	top: 25px;
	justify-content: space-around;
	align-items:center;
	position: absolute;
	color: red;
	width: 130px;
	box-sizing: border-box;
	
	border-radius: 5px;
	font-size: 16px;
	background-color: yellow;
	padding: 12px 20px 12px 40px;
	transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
width: 100%;
}