body{
	background-color: #f0f0f2;
	margin: 0;
	padding: 0;
	font-family: -apple-systeme,system-ui,BlinkMacSystemFont,"Segoe Ui","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
div{
	width: 600px;
	margin: 5em auto;
	padding: 2em;
	background-color: #fdfdff;
	border-radius: 0.5em;
	box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}
a:link, a:visited{
	color: #3848f;
	text-decoration: none;
}
@media (max-width: 700px) {
	div{
		margin: 0 auto;
		width: auto;
	}
}
