
* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-align: center;}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin: 0;
    padding: 0;
}
body{
  
    background-image:url(cosmos.jpg);
      background-position: top;
    background-repeat: no-repeat;
    background-size: cover;}
    .topNubex {
  position: fixed;
  right: 45px;
  bottom: 45px;
   }

#one{
  color: white;
  text-shadow: 5px  2px white,
  ;
  padding: 50px 0;
  min-width: 500px;
  background: rgba(255, 255, 255, 0) 0%;
}
#two{
  padding: 50px 0;
  min-width: 500px;
  color: white;
}
#three{
  padding: 50px 0;
  min-width: 500px;
  color: white;}
  #four{
    padding: 50px 0;
    min-width: 500px;
    color: white;
  }
  #five{
    padding: 50px 0;
    min-width: 500px;
    color: white;
  }
  #sex{
    padding: 50px 0;
    min-width: 500px;
    color: white;
  }
a:hover{
    text-decoration: none;
    transition: .4s;
}
.ssh-footer-main .ssh-sub-footer-content {
  background-image: linear-gradient(to right, rgba(8, 8, 8, 0.9), rgba(8, 8, 8, 0.9)), url(https://www.kadrof.ru/sites/default/files/illustrations/freelance_social.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.ssh-footer-main ._form-3 .form-main {
  padding: 4.5rem 0px 0 0;
}

.ssh-footer-main ._form-3 .middle-section {
  display: grid;
  grid-template-columns: .8fr 1.1fr 1fr;
  padding-top: 30px;
  align-items: center;
  padding-bottom: 30px;
  padding: 40px;
  background: #fff;
  grid-gap: 30px;
}

.ssh-footer-main ._form-3 .text-grid h2 {
  font-size: 25px;
  line-height: 30px;
}

.ssh-footer-main ._form-3 .text-grid p {
  padding-top: 10px;
  font-size: 17px;
  line-height: 25px;
}

.ssh-footer-main ._form-3 .form-text input {
  width: 100%;
  font-size: 16px;
  border-radius: 0px;
  background: #fff;
  color: #2a2a2a;
  padding: 12px 15px;
  border: 1px solid #cccccc;
  outline: none;
}
.button-eff {
    background: #ff4c4c;
    padding: 12px 28px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: .4s;
}
.button-eff:hover{
    background: #ff9933;
    color: #fff;
}
.ssh-footer-main ._form-3 button.submit-butn {
  margin-top: 12px;
  display: block;
  width: 100%;
}
.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px){
    .wrapper {
        max-width: 1140px;
    }
}
/* 
@media (min-width: 992px){
    .wrapper {
        max-width: 960px;
    }
}
@media (min-width: 768px){
    .wrapper {
        max-width: 720px;
    }
}
@media (min-width: 576px){
    .wrapper {
        max-width: 540px;
    }
} */
@media (max-width: 1080px) {
  .ssh-footer-main ._form-3 .middle-section {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .ssh-footer-main ._form-3 .middle-section.grid-column {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  .ssh-footer-main ._form-3 .form-text.grid-three-column:nth-child(3) {
    grid-column: 1 / 3;
  }
}

@media (max-width: 667px) {
  .ssh-footer-main ._form-3 .form-main {
    padding: 40px 0px 0;
  }

  .ssh-footer-main ._form-3 .middle-section {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .ssh-footer-main ._form-3 .middle-section {
    padding: 15px;
  }
}

@media (max-width: 414px) {
  .ssh-footer-main ._form-3 .text-grid h2 {
    font-size: 20px;
    line-height: 25px;
  }

  .ssh-footer-main ._form-3 .middle-section.grid-column {
    grid-template-columns: .5fr 1fr;
  }

  .ssh-footer-main ._form-3 .text-grid p {
    font-size: 16px;
  }
}

.ssh-footer-main .footer-14 #footers14-block {
  padding: 4rem 0;
}

.d-grid{
    display: grid;
}
.ssh-footer-main .footer-14 .grid-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.ssh-footer-main .footer-14 .footers20 {
  background: #151617;
  padding: 60px 0;
}

.ssh-footer-main .footer-14 .column {
  padding: 0 15px;
  border-right: 1px solid rgba(235, 236, 236, 0.13);
  text-align: center;
}

.ssh-footer-main .footer-14 .column:last-child {
  border-right: 1px solid transparent;
}

.ssh-footer-main .footer-14 .grids-content h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
  position: relative;
}

.ssh-footer-main .footer-14 .grids-content h4:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.18);
  width: 50px;
  height: 1px;
  bottom: -10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
}

.ssh-footer-main .footer-14 .grids-content p,
.ssh-footer-main .footer-14 .grids-content p a {
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #b9b9b9;
}

.ssh-footer-main .footer-14 .column ul li span {
  color: #b9b9b9;
  margin: 0 5px;
}
#q{
  font-style: italic;
  font-family: sans-serif;
}
.ssh-footer-main .footer-14 .column ul li {
  display: inline-block;
}

.ssh-footer-main .footer-14 ul.links li a {
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #b9b9b9;
}

.ssh-footer-main .footer-14 .footers14-bottom {
  margin-top: 50px;
  border-top: 1px solid rgba(130, 152, 171, 0.35);
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.ssh-footer-main .footer-14 .language-select,
.ssh-footer-main .footer-14 .copyright {
  margin-top: 35px;
}

.ssh-footer-main .footer-14 .copyright p {
  font-size: 16px;
  line-height: 24px;
  color: #adaaaa;
}

.ssh-footer-main .footer-14 .copyright a {
  color: #fff;
}

.ssh-footer-main .footer-14 .copyright a:hover {
  text-decoration: underline;
}

.ssh-footer-main .footer-14 .language-select select {
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  position: relative;
  background: #fff;
  outline: none;
  width: 100%;
  font-size: 15px;
  color: #304659;
  height: 45px;
  text-align: left;
  -webkit-appearance: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: .1fr 1fr;
  align-items: center;
  padding-left: 15px;
  padding-right: 35px;
  border: none;
  border-radius: 3px;
}

.ssh-footer-main .footer-14 .language-select {
  margin-top: 35px;
  position: relative;
}

.ssh-footer-main .footer-14 span.fa.fa-language {
  position: absolute;
  color: #ff4c4c;
  font-size: 16px;
  z-index: 9;
  right: 15px;
  top: 13px;
}

.ssh-footer-main .footer-14 .language-select select:focus {
  outline: none;
}

.ssh-footer-main .footer-14 #movetop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 35px;
  height: 35px;
  background: #333;
  padding: 0;
  line-height: 35px;
  border-radius: 4px;
  transition: 0.5s ease-out;
}
span.hover {
  background-color: red;
}
.ssh-footer-main .footer-14 #movetop:hover {
  background: #2a2a2a;
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  transition: 0.5s ease-out;
  opacity: 1;
}

@media all and (max-width: 991px) {

  .ssh-footer-main .footer-14 .grids-content p,
  .ssh-footer-main .footer-14 .grids-content p a {
    font-size: 15px;
  }
}

@media all and (max-width: 768px) {
  .ssh-footer-main .footer-14 .grid-col-4 {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 40px;
  }

  .ssh-footer-main .footer-14 .column:nth-child(2) {
    border-right: none;
  }

  .ssh-footer-main .footer-14 .copyright {
    order: 2;
  }
}

@media all and (max-width: 667px) {
  .ssh-footer-main .footer-14 ul.footer14-nav li {
    margin: 10px 20px 10px 0px;
  }
}

@media all and (max-width: 440px) {

  .ssh-footer-main .footer-14 ul.footer14-nav,
  .ssh-footer-main .footer-14 .footer14-app {
    margin-top: 2rem;
  }

  .ssh-footer-main .footer-14 .language-select,
  .ssh-footer-main .footer-14 .copyright {
    margin-top: 30px;
  }

  .ssh-footer-main .footer-14 #footers14-block {
    padding: 3rem 0;
  }
}

@media all and (max-width: 372px) {
  .ssh-footer-main .footer-14 .grid-col-4 {
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }

  .ssh-footer-main .footer-14 .column {
    border-right: none;
  }
}
