*{
	text-align: center;
}
body{
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	box-sizing: border-box;
}
nav{
	padding: 50px 0;
	min-width: 500px;
	}
nav ul{
	background: linear-gradient(90deg,
	rgba(255, 255, 255, 0) 0%,
	rgba(255, 255, 255, 0.2)25%,
	rgba(255, 255, 255, 0.2)75%,
	rgba(255, 255, 255, 0)100%);
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
	inset 0 0 1px rgba(255, 255, 255, 0.6);
	color: black;
	}
nav ul li{
	display: inline-block;
	}
nav ul li a {
	padding: 10px;
	color: blue;
	font-size: 18px;
	font-family: Arial;
	text-decoration: none;
	display: block;
	}
.leftcolumn {   
  float: left;
  width: 50%;
}
.rightcolumn {
  float: right;
  width: 50%;
  
}
.column{
	width: 25%;
	float: left;
}
.columne{
	width: 25%;
	float: right;
}
